@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Single+Day&display=swap');

body {
  font-family: "Single Day";
  background: linear-gradient(45deg, antiquewhite ,rgb(233, 160, 215), rgb(221, 170, 245),rgb(153, 181, 231));
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.main-box h1 {
  font-family: "Bagel Fat One";
  font-size: 3rem;
  color: white;
  text-shadow: 3px 3px 0px rgb(168, 110, 223);
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.main-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Single Day";
}

.main-box input {
  background-color: rgba(255, 255, 255, 0.17);
  border: none;
  border-radius: 0;
}

.main-box input:focus {
  background-color: rgba(255, 255, 255, 0.17);
}

.main-box button {
  border-color: rgb(163, 125, 238);
  background-color: rgb(163, 125, 238);
}

.main-box button:hover {
  border-color: rgb(150, 107, 238);
  background-color: rgb(150, 107, 238);
}

.form-box{
  justify-content: center;
}

.save-btn{
  width: 100%;
  border-radius: 500px;
}

.btn-primary:active {
  --bs-btn-active-border-color: rgb(150, 107, 238);
  --bs-btn-active-bg: rgb(139, 88, 241);
}

.search-box{
  margin-bottom: 1rem;
  display: flex;
}

.search-btn {
  margin-left: 0.5rem;
}

.item-box {
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.17);
  border-radius: 0.5rem;
  align-items: center;
}

.result-box {
  height: 60vh;
  overflow: scroll;
  scrollbar-width: none;
}

.result-box .row {
  margin-left: 0px;
  margin-right: 0px;
}

.info-box {
  display: flex;
}

.item-box button {
  border: none;
  background-color: transparent;
  font-weight: 700;
}

.delete-btn {
  text-align: end;
}

.text-red {
  color: rgb(252, 85, 85);
}